<!DOCTYPE html>

<html>
    <head>
        <style>
            body{background-color: rgb(18, 18, 18);font-family: Georgia, 'Times New Roman', Times, serif}
            h1{text-align: center;padding: 3px;color:#ef0e0e}
            p{font-size: 18px;text-align: center;padding: 3px;color:#f3eded}
            label{font-size: 18px;text-align: center;padding: 3px;color:#e12424}
        </style>
    </head>

    <body>
        <%- include ('partials/nav') %>
        <h1>THIS IS THE CONTACT Success Page</h1>
        <p>Your Details Are: </p>
        <p><strong>Name: </strong><%=data.name%></p>
        <p><strong>Dept: </strong><%=data.dept%></p>
        <p><strong>Name: </strong><%=data.email%></p>
        
        
    </body>

</html>