<!DOCTYPE html>

<html>
    <head>
        
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <%- include ('partials/nav') %>
        <h1>THIS IS THE HOME PAGE</h1>
    </body>

</html>